
body{
    background-color: #CCC;
}

a{
    text-decoration: none;
}
.wrap{

}

hr{
    padding-bottom: 40px;
}
.badan{
    background-color: white;}

.slide-show{
    padding: 20px;
}
.catalog-produk{
    border: 1px #DDD solid;
    border-radius: 3%;
    padding: 10px;
    margin : 5px;
}
.catalog-produk .image-catalog img{
    margin:20px;
    padding:5px;
    width : 80%;
}
.catalog-produk .image-catalog img:hover{
    padding:0px;
}

.catalog-produk .nama-produk{
    font-weight: 700;
}

.catalog-produk .harga-produk{
    color: blue;
    font-weight: bold;
    padding-top: 20px;
}
.catalog-produk .harga-produk s{
    color: #bbb;
    font-weight: normal;
}

.head-produk{
    padding: 20px;
    /* margin-bottom: 30px; */
}

.head-produk .img-produk{
    border:1px #CCC solid;
    padding: 20px;
    display:block;
    margin:20px auto;
}

.detail-produk .head-detail{
    background-color: #DDD;
}

.detail-produk .image-produk{
    width: 100%;
    text-align: center;
    padding: 30px;
}

.detail-produk .image-produk img{
    max-width: 100%;
}

.isi-detail-produk{
    padding:30px 0px;
}


.isi-detail-produk .bawah{
    padding:0px 40px; 
}

.sesi{
    padding: 30px 0px;
}

.isi-detail-produk .atas{
    padding:0px 40px; 
}

.transaksi p{
    padding: 0px 10%;
}

.countdown{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.countdown li {
    display: inline-block;
    font-size: 0.7em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
  }

.countdown li span {
    display: block;
    font-size: 4.5rem;
  }

  .daftar{
      background-color: whitesmoke;
      padding:20px 5%;
      margin : 0px 10%;
      text-align: center;
  }
  .daftar button{
      margin : 50px;
}

.footer{
    padding-top: 100px;
}
.footer a{
    text-decoration: none;
}



.img-produk h3 {
      background: #fff;
      color: #3498db;
      font-size: 36px;
      line-height: 100px;
      margin: 10px;
      padding: 2%;
      position: relative;
      text-align: center;
  }
.img-produk  .action{
    display:block;
    margin:100px auto;
    width:100%;
    text-align:center;
  }
.img-produk  .action a {
    display:inline-block;
    padding:5px 10px; 
    background:#f30;
    color:#fff;
    text-decoration:none;
  }
.img-produk  .action a:hover{
    background:#000;
  }